
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Funciones de ayuda
    function isSignedIn() {
      return request.auth != null;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isAdmin() {
      return isSignedIn() && getUserData().role == 'admin';
    }

    function isTeacher() {
      return isSignedIn() && getUserData().role == 'teacher';
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Reglas por Colección
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || isOwner(userId);
    }
    
    match /availabilities/{availId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    
    match /completions/{compId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || isTeacher();
    }

    match /milestones/{mileId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || isTeacher();
    }

    match /skills/{skillId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || isTeacher();
    }
    
    match /resources/{resId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
    
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
